appdirs==1.4.3
attrs==19.3.0
bson==0.5.9
click==7.1.1
mysql==0.0.2
pathspec==0.8.0
pkg-resources==0.0.0
PySide2==5.14.2
python-dateutil==2.8.1
regex==2020.4.4
shiboken2==5.14.2
six==1.14.0
toml==0.10.0
typed-ast==1.4.1
