QMenuBar {
    background-color: #1a1a1a;
    color: white;
    spacing: 3px;
}

QMenuBar::item {
    padding: 5px 4px;
    background: transparent;
    border-radius: 0;
}

QMenuBar::item:selected { /* when selected using mouse or keyboard */
    background: #404040;
}

QMenuBar::item:pressed {
    /* for on-click events */
}

QToolBar {
    background-color: #1a1a1a;
    min-width: 50px;
}
